---
# full css
---
/* add fonts */
@font-face {
  font-family: 'Noto Sans';
  src:  url('fonts/NotoSans-Regular-webfont.woff') format('woff');
}
/* set base variables */
$base-font: 'Noto Sans', Verdana, Arial, sans-serif;

$base-font-size: 18px;
$base-font-size-sm: 12px;
$mobile-font-size: 14px;
$base-line-height: 1.25;

$text-color: black;
$link-color: blue;
$background-color: white;

/* add scss partials in cascading order */
@import 
    "base",
    "layout",
    "header"
;