.active-tab { border: solid 1px black; }
/* main pages headers: main-banner, main-nav */
.site-title {
    h1 { 
        font-size: 32px;
        margin: 0;        
    }
}
/* collection headers: collection-banner, collection-nav */
.logo { }
.collection-title {
    h1 { 
        font-size: 32px;
        margin: 0;
     }
    p { font-size: 14px; }
 }